:root {
  --ls-font-family: LXGW WenKai, Helvetica Neue, sans-serif;
}
.block-content .image-resize {
	display: block;
	margin: 0 auto;
}
.admonitionblock .is-paragraph {
    size: 12px;
    font-size: 16px;
}
